<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender title="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender title="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender title="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender title="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger title="play" level="INFO" />
  <logger title="application" level="DEBUG" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger title="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger title="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger title="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger title="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
